<div class="control-group">
  <%= f.label column.to_sym, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field column.to_sym, :class => 'datepicker', :style => "width:100px;" %>
  </div>
</div>