<div class="control-group">
  <%= f.label column.to_sym, :class => 'control-label' %>
  <div class="controls">
		<%= f.collection_select column.to_sym, @model_class.order(@model_class::ASS_SEL_VIEW[0].to_sym).roots, :id, @model_class::ASS_SEL_VIEW[0].to_sym, :include_blank => true %>
<p class='help-block'>Leave blank if N/A</p>
  </div>
</div>