/* Main Body Content Styles */

#storeWin { padding:10px;background-color:#ffffff;color:#262262;margin: 20px 0px 10px 0px;}
.catWin {
	font-size: 90%;
	margin-left: -15px;
	margin-right: 5px;
	padding: 10px;
	background-color: #f2f2f2; 
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
	background: -moz-linear-gradient(top,  #eeeeee,  #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
	border: 1px solid #aaaaaa;
}

.catWin H2 { margin:0;text-align:center; }
.feature { margin: 15px 0;background-color:#ffffff;padding:5px 0 5px 5px;width:185px;margin-left:auto;margin-right:auto; }
.feature img {width:175px;height:auto;margin-bottom:5px;}
.feature span {display:block;margin:5px 0;}
.feature span.title {font-size:9pt;line-height:13pt;font-weight:bold;letter-spacing:0; }
.feature span.price {color:red;font-size:11pt;}

a.button, #body_content a.button, #sidebar a.button { 
	display:block; 
	margin-left:auto;
	margin-right:auto;
	padding:0;
	text-decoration:none;
	font-size:9pt; 
	letter-spacing: 0;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
	background-color: #7cbb52; 
	background: -webkit-gradient(linear, left top, left bottom, from(#a4dd7f), to(#7cbb52));
	background: -moz-linear-gradient(top,  #a4dd7f,  #7cbb52);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4dd7f', endColorstr='#7cbb52');
	text-align:center;
	color: #ffffff;
	width: 140px;
}



.cartItems {border-collapse:collapse;width:100%;}
.cartItems tr td, .cartItems tr th { border:1px solid #ddd;margin:0; }
.ast { color:red;}

.checkStep {display:block;position:relative;background-color:#eee;padding:3px 7px;color:#505050;border:1px solid #aaa;margin:10px 0;}
.checkStep.active {background-color:#daf1fc;color:#000000;}

.checkStep span.details {margin-left:20px;font-size:75%;font-style:italic;}

.checkStep a.modStep {position:absolute;right:5px;font-size:75%;font-style:italic;font-weight:normal;}