/* second-level lists */


#nav {z-index: 99}
#nav li ul { 
	position:absolute;
	float:left;
	clear: both;
	margin: -5px 0 0 5px;
	padding:0;
	z-index: 100;
	background-color:#fff;
	border: 1px solid #ab499b;
	left:-999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	}
 #sidebar li ul { 
	position:absolute;
	clear: both;
	z-index: 100;
	margin: 0 0 0 25px;
	padding:0;
	background-color:#fff;
	border: 1px solid #ab499b;
	left:-999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	}	

#nav li li, #sidebar li li {
	margin:0;
	padding:0;
	display:block;
	float:left;
	height:100%;
	}
#nav li li a, #sidebar li li a {
	display:block;
	margin:0;
	padding:3px 5px;
	color:#262262;
	background:none;
	background-color:#fff;
	}
#nav li li a:hover, #sidebar li li a:hover {
	margin:0;
	padding:3px 5px;
	}
#nav li li, #sidebar li li { float: none; }
#nav li:hover ul, #nav li.sfhover ul, #sidebar li:hover ul, #sidebar li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
	}
	