
@font-face
	{font-family:Arial;
	panose-1:2 11 6 4 2 2 2 2 2 4;}
 /* Style Definitions */

:input {
	padding:0;
	margin: 0;
}

p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman";}
p.MsoTitle, li.MsoTitle, div.MsoTitle
	{margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:12.0pt;
	font-family:"Times New Roman";
	font-weight:bold;
	text-decoration:underline;}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman";}
p.MsoBodyText2, li.MsoBodyText2, div.MsoBodyText2
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	text-align:center;
	font-size:12.0pt;
	font-family:"Times New Roman";
	font-weight:bold;
	font-style:italic;}
 /* Page Definitions */
@page WordSection1
	{size:8.5in 11.0in;
	margin:.5in 27.35pt 2.15pt .7in;}
div.WordSection1
	{page:WordSection1;}

input[type=text] { border-width:0;border-bottom:1px solid #000000; padding:0;margin:0;}
textarea { height:50px;border-width:0;background: url(/images/textBox.gif);width:648px;line-height:25px; }
* { color: #000000; }

div.field_with_errors {
	display: inline-block;
}

div.field_with_errors input[type=text] { border: 1px solid red; }