/* Main Styles */

body {background: #ab499b url("/images/background_home.jpg"); font-family: Arial, Geneva, sans-serif; font-size: 115%; line-height: 120%; color: white; padding: 10px; margin-bottom: 30px;}

//#container {width: 980px; background: #fff; margin: auto; padding: 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}



/* Main Body Content Styles */

#body_content {float: left; width: 970px; margin: 20px 0 0 0; padding: 45px 10px 0 0; background: #ab499b url("/images/boutique_content_bg.gif") top no-repeat; line-height: 140%; font-size: 90%; letter-spacing: 1px;}

#body_content h3 {display: inline; width: auto; height: auto; background: #fff url("/images/basic_left_tab.gif") right no-repeat; color: #ab499b; font-size: 24px; font-weight: bold; margin: 0 0 10px 0; padding: 5px 33px 2px 20px; text-transform: uppercase;}

div#cartWin {margin-left: 10px;}