<ul class="nav nav-tabs nav-stacked">
  <li class="nav-header">CMS</li>
	<% ['Page'].each do |m| %>
		<%= sidebar_link(m) %>
	<% end %>	
	<li class="nav-header">Courses</li>
	<% ['ClientGroup', 'Teacher', 'Course'].each do |m| %>
		<%= sidebar_link(m) %>
	<% end %>
	
	<li class="nav-header">Store</li>
	<% ['PromoCode'].each do |m| %>
		<%= sidebar_link(m) %>
	<% end %>
	
	<li class="nav-header">System</li>
	<% ['User', 'PagePart'].each do |m| %>
		<%= sidebar_link(m) %>
	<% end %>
</ul>	