hello world

<% if object && object.errors.size > 0 %>
<div class="ui-widget">
	<div class="ui-state-error ui-corner-all" style="padding: 0pt 0.7em;"> 
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span> 
		<strong>Error:</strong> Fill in the highlighted fields to continue.</p>
	</div>
</div><br />
<% end %>