<h1 class="lefttab">Current Events</h1>

<div id="cartWin">
<% @events.each do |event| %>
    <%= content_tag :h3, event.title %>
    <%= content_tag :strong, event.datetimestring unless event.datetimestring.nil? %>
    <br>
    <%= event.description.html_safe %>
    <hr>
<% end %>  
</div>  