<h1 class="lefttab">Current Events</h1>

<div id="cartWin">
<% @events.each do |event| %>
    <%= content_tag :h3, event.title %>
    <%= content_tag :strong, "#{event.start_date.strftime("%a")}., #{l(event.start_date, :format => :long)} - #{l(event.end_date, :format => :long)}, #{event.start_time.strftime('%I:%M %p')} - #{event.end_time.strftime('%I:%M %p')}" unless event.start_date.blank? %>
    <br>
    <%= event.description.html_safe %>
    <hr>
<% end %>  
</div>  