/* Main Styles */

body {background: #f15922 url("../images/background_special.jpg"); font-family: Arial, Geneva, sans-serif; font-size: 115%; line-height: 120%; color: white; padding: 10px; margin-bottom: 30px;}

#container {width: 980px; background: #fff; margin: auto; padding: 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}


/* Logo Styles */

#logo {float: left; width: 652px; height: 280px; background: #fff;}


/* Text Display Styles */

h1 {display: none;}
h2 {font-size: 130%; font-weight: normal}
h3 {}
h4 {font-weight: normal; padding: 0 20px}
h5 {}
h6 {}


/* Navigation Styles */

#nav {float: left; width: 700px; padding-top: 28px;}
#nav ul {margin: 0; padding: 0; list-style: none;}
#nav ul li {float: left; font-size: 18px; font-weight: bold; display: inline; margin: 0; padding: 0; text-transform: uppercase;}
#nav ul li a {display: block; padding: 0 20px 10px 10px; color: #262262; text-decoration: none;}
#nav ul li a:hover {color: #f15922;}
#nav ul li a.on {color: #f15922;}
#nav ul li a.point {background: url("../images/purple_dot.gif") right 20% no-repeat;}


/* Rotating Image Styles */

#home_rotate {float: right; width: 291px; height: 280px; padding: 10px 24px 0 13px; background: #fff;}
ul#portfolio { list-style: none; z-index: 0}


/* Main Body Content Styles */

#body_content {float: left; width: 635px; margin: 20px 0 0 0; padding: 45px 20px 0 0; background: #f15922 url("../images/special_content_bg.gif") top no-repeat; line-height: 140%; font-size: 90%; letter-spacing: 1px}

#body_content h3 {display: inline; width: auto; height: auto; background: #fff url("../images/special_left_tab.gif") right no-repeat; color: #f15922; font-size: 24px; font-weight: bold; margin: 0 0 10px 0; padding: 5px 33px 2px 20px; text-transform: uppercase;}

#body_content {float: left; }
#body_content a {color: #262262; font-weight: bold;}

#body_content .activities {font-size: 18px; text-align: center; line-height: 150%; font-weight: bold; letter-spacing: 1px;}

#body_content .bullet {color: #262262; padding: inherit 15px; font-size: 120%}

#clearbox {clear: both; width: 635px; height: 1px;}

.title {font-size: 130%; font-weight: bold;}

.orphankillerText {font-size: 88%;}

.orphankillerPic {padding: 0 20px 40px 20px;}

.smallbottomPic {padding: 0 20px 0 20px;}

.standardPic {padding: 0 20px 20px 20px;}

.rightspace {padding: 0 40px 20px 20px}

/* Sidebar Styles */

#sidebar {float: right; width: 280px; margin: 0 0 0 0; padding: 106px 0 0 0; background: url("../images/be_light.gif") top no-repeat; color: #262262;}

#sidebar img {margin: 0 0 0 0; vertical-align: bottom;}

#sidebar ul {margin-left: 10px;}

#sidebar ul li {line-height: 150%}

#sidebar a {color: #262262}

.noUnderline {text-decoration: none;}


/*Footer Styles */

#footer {clear: both; width: 980px; padding: 13px 0 0 0; text-align: center}
#footer ul {margin: 0; padding: 0; list-style: none;}
#footer ul li {display: inline; margin: 0; padding: 0 40px; font-size: 75%; font-weight: 300; color: #262262;}
#footer ul li a {color: #262262;}
