.record-action {
	color: #000;
	margin-right:10px;
	&:hover {
		text-decoration: none;
	}
}

.filter-row {
	margin-bottom: 15px;
	a, select, input {
		margin-right: 7px;
	}	
}

.info-list {
	dt {
		background-color: #999;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		padding:1px 3px;
		margin: 10px 0;
		color: #fff;
		font-size: 9pt;
	}
}

a.sort-column {
	display: block;
	
	span.ui-icon {
		display:block;
		float: left;
		vertical-align: middle;
	}
	
}

ul.siteTree { 
	width:500px; 
	
	li {
		margin: 6px 0; 
		font-size: 12pt; 
		line-height:28px;
		
		
		.bar {
			display:inline-block;
			width:30px;
			height:14px;
			margin-right:4px;
			border-bottom:2px solid #000;
			margin-bottom:10px;
		}
		.actions {
			float:right;
			font-size:11pt;
			cursor:pointer;
		}
		div {
			cursor:move;
			border-width:1px 1px 1px 0; 
			border-style: solid; 
			border-color: #DDDDDD;
		}
		ul {
			margin-left:34px;
		}
	}
}
ul.siteTree, ul.siteTree ul { border-left:2px solid #000000;list-style:none;padding:0;margin:0;}
