<h2>Review Order</h2>

<%= error_messages_for(@cart) %>

<%= render 'cart' %>  

<%= form_for @cart, :url => update_checkout_cart_path(@cart), :html => { :method => :put, :class => 'form-horizontal'} do |f| %>

  <%= f.button "Continue To Payment >>", :name => :continue_to_payment, :value => true, :class => "btn btn-large btn-primary pull-right" %>
<% end %>
