<div class='MsoNormal waiver_guest' style='margin-bottom:6.0pt;line-height:150%'><span style='font-size:10.0pt;line-height:150%;font-family:Arial'>
Name: <%= f.text_field :name, :style => "width:500px;" %> &nbsp; 
Age: <%= f.text_field :age, :style => "width:62px;" %> &nbsp; 
<%= f.hidden_field :_destroy %><%= link_to raw("<i class='icon-remove'></i>"), "#", :class => 'remove_waiver_guest', :style => "color:red;" %>
</span></div>