<%= stylesheet_link_tag    "/stylesheets/wide.css", :media => "all" %>

<h3>Checkout</h3><br>

<div id="cartWin">
<ul class="breadcrumb">
  <% @checkout_steps.each_with_index do |step, index| %>
    <%= content_tag :li do %>
        <%= eval("#{step}_breadcrumb(#{index + 1})") %> <span class="divider">/</span>
    <% end %>
  <% end %>
</ul>

<%= render "#{@stage}" %>

</div>