<% content_for :body do %>
<h3>Checkout</h3><br>

<div id="cartWin">
<ul class="breadcrumb">
  <% @checkout_steps.each_with_index do |step, index| %>
    <%= content_tag :li do %>
        <%= eval("#{step}_breadcrumb(#{index + 1})") %>
    <% end %>
  <% end %>
</ul>

<%= render "#{@stage}" %>

</div>
<% end %>