<style type="text/css">
#cartWin p {
    font-size: 83%;
    line-height: 130%;
}
</style>

<h1 class="lefttab">Teachers</h1>

<%= @body.text.html_safe %>

<div id="cartWin" class="events_list">
<% @teachers.each do |teacher| %>
<div class="row-fluid">
    <div class="span4">
        <%= image_tag teacher.photo_url if teacher.photo.present? %>
    </div>
    <div class="span8">
        <%= content_tag :strong, teacher.full_name %><br>
        <%= teacher.bio.html_safe %>
    </div>    
</div>    
    <hr style="clear:both;">
<% end %>  
</div>