<div id="footer">
<ul>
	<li>&copy; <%= Date.today.strftime('%Y')%> Belightful Yoga, LLC. All rights reserved.</li>
	<li>design by <a href="http://www.dragonbutterfly.com" target="_blank">dragonbutterfly design</a></li>
	<li><a href="mailto:info@belightfulyoga.com">info@belightfulyoga.com</a></li>
</ul>
</div>