<table>
	<tbody>
		<tr>
			<td><iframe frameborder="0" height="233" src="http://www.youtube.com/embed/Y-PBPsWHwkE" width="414" style="margin-right:15px;"></iframe></td>
			<td valign="top"><a class="btn btn-large btn-block btn-primary" href="http://eepurl.com/bGORX" style="color:#ffffff;" target="_blank"><i class="icon-envelope icon-white icon-3x" style="float:left;margin:0 5px;"></i>  Sign Up For Our Email Newsletter</a> <a class="btn btn-large btn-block btn-info" href="/current-events" style="color:#ffffff;"><i class="icon-calendar icon-white icon-3x" style="float:left;margin:0 5px;"></i> Click here for Current Events!</a></td>
		</tr>
	</tbody>
</table>
