<div id="social-icons">
    <%= link_to image_tag('facebook_32.png'), "https://www.facebook.com/belightfulyoga", :target => "_blank" %>
    <%= link_to image_tag('twitter_32.png'), "http://twitter.com/belightfulyoga", :target => "_blank" %>
    <%= link_to image_tag('linkedin_32.png'), "http://www.linkedin.com/profile/view?id=17122411", :target => "_blank" %>
    <%= link_to image_tag('youtube_32.png'), "https://www.youtube.com/user/BelightfulYoga", :target => "_blank" %>
</div>