<div id="social-bar" class="pull-right">
	<a href="https://www.facebook.com/belightfulyoga" target="_blank"><i class="fa fa-facebook"></i></a>
	<a href="http://twitter.com/belightfulyoga" target="_blank"><i class="fa fa-twitter"></i></a>
	<a href="http://www.linkedin.com/profile/view?id=17122411" target="_blank"><i class="fa fa-linkedin"></i></a>
	<a href="https://www.youtube.com/user/BelightfulYoga" target="_blank"><i class="fa fa-youtube"></i></a>
	<a href="mailto:info@belightfulyoga.com" target="_blank"><i class="fa fa-envelope"></i></a>
</div>