<ul>
 <li><a href="shopping-cart.dna">Cart</a></li>

<li><a href="offerings.dna">Available Classes</a></li>
<li><a href="your-account.dna">Your Account</a></li>
<li><a href="logout.dna">Logout</a></li>

<li><a href="login.dna">Login/Register</a></li>
</ul>