<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Belightful Yoga Site Notification</title>
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color: #ab499b;">
<tbody>
<tr style="font-size: 14px;color: #262262;line-height: 150%;font-family: Helvetica;">
<td align="center">
<table border="0" cellspacing="0" cellpadding="0" width="600" style="margin-top: 10px;background-color:#ffffff;">
<tr><td><img src="http://www.belightfulyoga.com/images/newsletter_header.1.jpg" alt="" border="0" style="margin: 0; padding: 0;max-width: 600px;" /></td></tr>

<tr>
 <td style="padding:20px;">
     <%= yield %>
 </td>
</tr>

</td></tr>
</table>

</td>
</tr>
<tr><td>&nbsp; <br /><br /></td></tr>
</tbody>
</table>
</body>
</html>